/*
Create a heading of fluid font size.

  if viewport width is smaller than 200px, use 16px
  
  if viewport width is bigger than 400px, use 32px
  
  otherwise font-size is linearly scaled. For example if viewport is 300px = (200px + 400px) / 2, then font-size is 24px = (16px + 32px) / 2

*/


.title {
  text-align: center;
  font-size: 8vw;
}

@media all and (max-width: 200px) {
  .title {
    font-size: 16px;
  }
}

@media all and (min-width: 400px) {
  .title {
    font-size: 32px;
  }
}