.title {
  text-align: center;
  font-size: 8vw;
}

@media all and (max-width: 200px) {
  .title {
    text-align: center;
    font-size: 16px;
  }
}

@media all and (min-width: 400px) {
  .title {
    text-align: center;
    font-size: 32px;
  }
}